{% extends 'layouts/base.html' %}

{% block title %}Floor Detail{% endblock title %}

{% block content %}
<div class="container">
    <h1>{{ property.name }} - Floor {{ floor.floor_number }}</h1>

    <h2>Units</h2>
    <div class="list-group">
        {% for unit in units %}
            <a href="{% url 'unit_detail' property.pk floor.pk unit.pk %}" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="mb-1">Unit {{ unit.unit_number }}</h5>
                        <p class="mb-1"><strong>Tenant:</strong> {{ unit.tenant_name }}</p>
                        <p class="mb-1"><strong>Rent:</strong> ${{ unit.rent_amount }}</p>
                    </div>
                    <div class="col-md-4">
                        {% if unit.image %}
                            <img src="{{ unit.image.url }}" alt="{{ unit.unit_number }}" class="img-fluid">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}