{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
<style>
    .card-stats .card-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card-stats .card-body .icon {
        margin-left: 1rem;
    }
	
    .center-widget {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

</style>
<style>
    .mar {
        margin-left: 10%; /* Offset to the right by 20% */
    }
</style>
{% endblock stylesheets %}

{% block content %}

            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                </div>
            </div>
            <!-- Card stats -->
            <div style="padding-left: 20px; padding-right: 20px;" class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title text-uppercase text-muted mb-0">Total Open Tickets</h5>
                                <span class="h2 font-weight-bold mb-0">{{ total_open_tickets }}</span>
                            </div>
                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                <i class="ni ni-active-40"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title text-uppercase text-muted mb-0">Tickets Assigned to You</h5>
                                <span class="h2 font-weight-bold mb-0">{{ tickets_assigned_to_you }}</span>
                            </div>
                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                <i class="ni ni-chart-pie-35"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title text-uppercase text-muted mb-0">Total Tools</h5>
                                <span class="h2 font-weight-bold mb-0">{{ total_tools }}</span>
                            </div>
                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                <i class="ni ni-settings"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title text-uppercase text-muted mb-0">Maintenance Records</h5>
                                <span class="h2 font-weight-bold mb-0">{{ total_maintenance_records }}</span>
                            </div>
                            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                <i class="ni ni-archive-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                                <span class="h2 font-weight-bold mb-0">{{ total_users }}</span>
                            </div>
                            <div class="icon icon-shape bg-gradient-purple text-white rounded-circle shadow">
                                <i class="ni ni-single-02"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Quick Task Creator -->

       

<div class="row mt-4">
    <div class="col">
        <h2 class="text-center">Create a Quick Task</h2>
        <div class="center-widget">
            {% include 'home/quick_task_widget.html' %}
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{% static 'assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>
{% endblock javascripts %}