{% extends 'layouts/base.html' %}

{% block title %}Properties List{% endblock title %}

{% block content %}
<div class="container">
    <h1>Properties List</h1>
    <form method="GET" class="form-inline mb-3">
        <input type="text" name="search" class="form-control" placeholder="Search properties...">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="list-group">
        {% for property in properties %}
            <a href="{% url 'property_detail' property.pk %}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ property.name }}</h5>
                <p class="mb-1">{{ property.location }}</p>
                <small>Number of floors: {{ property.number_of_floors }}</small>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}