{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>
{% for tool in tools %}
    <div>
        <h2>{{ tool.name }}</h2>
        <p>{{ tool.location }}</p>
        <img src="{{ tool.image.url }}" alt="{{ tool.name }}">
    </div>
{% empty %}
    <p>No tools found.</p>
{% endfor %}
{% endblock %}

{% include "includes/footer.html" %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
